<h2><%= @vendor.name %></h2>

<div id='notes'>
	<h2>Notes:</h2>
	<p><%= @vendor.notes %></p>
</div>
<p>Booth Number: <%= @vendor.booth%></p>
<p>Rent: <%= number_to_currency(@vendor.amount) %></p>
<p>Type: 
	<% if @vendor.weekly == true %>
	 Weekly
	<% else %>
		Monthly
	<% end %>
</p>
<% sum = 0 %>
<% if @vendor.weekly == true%>
	<% @vendor.payments.each do |pay|%>
		<% if pay.created_at.to_date >= Date.today.beginning_of_week and pay.created_at.to_date < Date.today.end_of_week %>
			<% sum += pay.amount %>
		<% end %>
	<% end %>
	
	<% if sum >= @vendor.amount %>
		<p>PAID</p>
	<% else %>
		<p>UNPAID</p>
	<% end %>
<% else %>
	<% @vendor.payments.each do |pay|%>
		<% if pay.created_at.to_date.month >= Date.today.month and pay.created_at.to_date.month < Date.today.month + 1%>
			<% sum += pay.amount %>
		<% end %>
	<% end %>
	
	<% if sum >= @vendor.amount %>
		<p>PAID</p>
	<% else %>
		<p>UNPAID</p>
	<% end %>
<% end %>

<h3>Payments</h3>
	<% @recent_payments.each do |p| %>
		<p>Paid <%= number_to_currency(p.amount) %> at <%= p.created_at.month %>-<%= p.created_at.day%>-<%= p.created_at.year%></p>
	<% end %>

<% simple_form_for ([@vendor, @vendor.payments.build]) do |f| %>
	<%= f.input :amount, :label => 'Payment amount:' %>

	<%= f.button :submit %>
<% end %>

<%= link_to 'Edit', edit_vendor_path(@vendor)%>
<%= link_to 'Delete Vendor', @vendor, :confirm => 'Are you sure you want to delete this vendor?', :method => :delete%>